<!DOCTYPE html>
<html>
  <head>
    <title>Weather Result</title>
  </head>
  <body>
    <h1>Weather in <%= weather.city %></h1>

    <p>Temperature: <%= weather.temp %> °C</p>
    <p>Humidity: <%= weather.humidity %>%</p>
    <p>Condition: <%= weather.condition %></p>

    <a href="/">Back</a>
  </body>
</html>
