<!DOCTYPE html>
<html>
<head>
    <title>Users Table</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
        }
        table {
            margin: 30px auto;
            border-collapse: collapse;
            width: 80%;
        }
        th, td {
            padding: 10px;
            border: 1px solid #000;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:hover {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>User Data from REST API</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
    </tr>

    <% users.forEach(function(user) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.address.city %></td>
        </tr>
    <% }); %>

</table>

</body>
</html>
